.products--grid {
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 163px);
  justify-content: space-between;
  padding: 50px 20px;
  row-gap: 40px;
  column-gap: 10px;
}

.product-detail {
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all ease-out 0.5s;
  transform: translateX(100%);
  &.active {
    transform: translateX(0);
  }
}

@media screen and (min-width: 425px) {
  .products--grid {
    grid-template-columns: repeat(2, 190px);
  }
}

@media screen and (min-width: 768px) {
  .products--grid {
    padding: 50px 40px;
    grid-template-columns: repeat(3, 216px);
  }
}

@media screen and (min-width: 1024px) {
  .products--grid {
    grid-template-columns: repeat(4, 216px);
  }
}
@media screen and (min-width: 1200px) {
  .products--grid {
    grid-template-columns: repeat(5, 216px);
  }
}
@media screen and (min-width: 1200px) {
  .products--grid {
    grid-template-columns: repeat(5, 216px);
  }
}
@media screen and (min-width: 1440px) {
  .products--grid {
    grid-template-columns: repeat(6, 216px);
  }
}
