$very-light-pink: #c7c7c7;
$white: #ffffff;
$text-input-field: #f7f7f7;
$black: #000000;
$hospital-green: #acd9b2;
$dark: #232830;
$plomo: #797979;
$red: #d25050;

.products-container {
  position: relative;
}
.products--grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 163px);
  justify-content: space-between;
  padding: 20px 20px;
  row-gap: 40px;
  column-gap: 10px;
  @media screen and (min-width: 425px) {
    grid-template-columns: repeat(2, 190px);
  }
  @media screen and (min-width: 768px) {
    padding: 50px 40px;
    grid-template-columns: repeat(3, 216px);
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, 216px);
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(5, 216px);
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(5, 216px);
  }
  @media screen and (min-width: 1440px) {
    grid-template-columns: repeat(6, 216px);
  }
}

.product-detail {
  box-shadow: 0px 5px 5px rgb(black, 0.2);
  width: 384px;
  height: 100%;
  border-top: 1px solid $very-light-pink;
  position: fixed;
  top: 72px;
  z-index: 20;
  background-color: white;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all ease-out 0.5s;
  transform: translateX(100%);
  &.active {
    transform: translateX(0);
  }
  .product-img {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .product-detail-content {
    position: relative;
    .product-detail-close {
      position: absolute;
      top: 0px;
      left: 0px;
      transform: translate(50%, 50%);
      z-index: 30;
      cursor: pointer;
      padding: 15px;
      border-radius: 50%;
      box-shadow: 0px 2px 5px rgb(black, 0.2);
      width: 18px;
      height: 18px;
      background: url(/assets/svg/close-login.svg) no-repeat center;
      background-size: contain;
      background-position: center;
    }
  }
}

.product-body {
  width: 100%;
  padding: 50px 20px;
  span {
    font-size: 18px;
    font-weight: bold;
  }
  h4 {
    font-size: 18px;
    font-weight: 300;
    padding: 10px 0px;
  }
  p {
    font-size: 16px;
    line-height: 18px;
  }
  .product-body-add {
    padding: 50px 0px;
    button {
      padding: 18px 0px;
      border: 1px solid $hospital-green;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.0001);
      border-radius: 10px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      cursor: pointer;
      background: $hospital-green;
      color: #ffffff;
      width: 100%;
    }
  }
}
