<section class="recovery-check">
  <div class="recovery-check-container">
    <div class="recovery-check-logo">
      <figure>
        <source
          srcset="assets/svg/logo_yard_sale.svg"
          media="(min-width: 768px)"
        />
        <source
          srcset="assets/svg/logo_yard_sale.svg"
          media="(max-width: 767px)"
        />
        <img src="assets/svg/logo_yard_sale.svg" alt="Logo YARD Sale" />
      </figure>
    </div>
    <div class="recovery-check-header">
      <h1>Email has been sent!</h1>
      <p>
        Please check your inbox for instructions on how to reset the password
      </p>
    </div>
    <div class="recovery-check-confirm">
      <div class="recovery-check-confirm-group">
        <figure>
          <source
            srcset="assets/svg/recovery-message.svg"
            media="(min-width: 768px)"
          />
          <source
            srcset="assets/svg/recovery-message.svg"
            media="(max-width: 767px)"
          />
          <img src="assets/svg/recovery-message.svg" alt="Recovery Message" />
        </figure>
      </div>
      <div class="recovery-check-confirm-group">
        <button type="button" (click)="goToLogin()">Login</button>
      </div>
      <div class="recovery-check-confirm-group">
        <p>
          Didn´t receive the email?
          <a [routerLink]="['/login']" routerLinkActive="active">Resend</a>
        </p>
      </div>
    </div>
  </div>
</section>
