$very-light-pink: #c7c7c7;
$white: #ffffff;
$text-input-field: #f7f7f7;
$black: #000000;
$hospital-green: #acd9b2;
$dark: #232830;
$plomo: #797979;
$plomo-light: #fafafa;
$red: #d25050;
.recovery {
  height: 100%;
  width: 100%;
}

.recovery-container {
  width: 100%;
  display: flex;
  padding: 0px 20px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  .recovery-logo {
    width: 100%;
    padding: 80px 0px;
    figure {
      text-align: center;
      img {
        width: 148.12px;
        height: auto;
      }
    }
  }
  .recovery-header {
    text-align: center;
    padding: 10px 0px;
    width: 80%;
    margin: auto;
    h1 {
      font-weight: 700;
      font-size: 18px;
      line-height: 22.5px;
      color: $black;
      padding-bottom: 15px;
    }
    p {
      font-weight: 4000;
      color: $plomo;
      line-height: 22.5px;
      font-size: 18px;
      padding-bottom: 20px;
    }
  }
  .recovery-form {
    width: 100%;
    .recovery-form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
      label {
        color: $black;
        line-height: 17.5px;
        font-size: 14px;
        font-weight: 700;
        padding-bottom: 10px;
        &.error {
          color: $red;
        }
      }
      input[type="email"] {
        background: $text-input-field;
        padding: 10px 8px;
        border: 1px solid $text-input-field;
        border-radius: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        outline-color: $hospital-green;
      }
      button {
        padding: 18px 0px;
        background: $hospital-green;
        border: 1px solid $hospital-green;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.0001);
        border-radius: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
      }
      a {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $hospital-green;
        text-decoration: none;
        text-align: center;
      }
    }
  }
}
