.img-container {
  width: 100%;
}
img {
  width: 163px;
  height: 163px;
  object-fit: cover;
  object-position: center;

  @media screen and (min-width: 425px) {
    width: 190px;
    height: 190px;
  }

  @media screen and (min-width: 768px) {
    width: 216px;
    height: 216px;
  }
}
