.product-container {
  width: 100%;
  .product-detail {
    width: 100%;
    position: relative;
    .product-detail__price {
      font-size: 16px;
      font-weight: bold;
      padding: 5px 0;
      @media screen and (min-width: 768px) {
        font-size: 18px;
      }
    }
    .product-detail__name {
      color: #797979;
      font-size: 14px;
      width: 15ch;
      @media screen and (min-width: 768px) {
        font-size: 16px;
      }
    }
    .product-detail__add {
      position: absolute;
      top: 50%;
      right: 0;
      border-radius: 50%;
      display: flex;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      transform: translateY(-50%);
      cursor: pointer;
      img {
        width: 100%;
      }
    }
  }
}
