$very-light-pink: #c7c7c7;
$white: #ffffff;
$text-input-field: #f7f7f7;
$black: #000000;
$hospital-green: #acd9b2;
$dark: #232830;
$plomo: #797979;
$red: #d25050;
.change-password {
  height: 100%;
  width: 100%;
}

.change-password-container {
  width: 100%;
  display: flex;
  padding: 20px 20px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  .change-password-logo {
    width: 100%;
    padding: 60px 0px 45px 0px;
    position: relative;
    .close-change-password {
      position: absolute;
      top: 0px;
      right: 0px;
      cursor: pointer;
      width: 15px;
      height: 15px;
      background: url(/assets/svg/close-change-password.svg) no-repeat center;
      background-size: contain;
    }
    figure {
      text-align: center;
      img {
        width: 205.45px;
        height: auto;
      }
    }
  }
  .change-password-header {
    text-align: center;
    padding: 10px 0px;
    width: 100%;
    margin: auto;
    h1 {
      font-weight: 700;
      font-size: 18px;
      line-height: 22.5px;
      color: $black;
      padding-bottom: 15px;
    }
    p {
      font-weight: 4000;
      color: $plomo;
      line-height: 22.5px;
      font-size: 18px;
      padding-bottom: 20px;
    }
  }
  .change-password-form {
    width: 100%;
    .change-password-form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
      label {
        color: $black;
        line-height: 17.5px;
        font-size: 14px;
        font-weight: 700;
        padding-bottom: 10px;
        &.error {
          color: $red;
        }
      }
      input[type="password"] {
        background: $text-input-field;
        padding: 10px 8px;
        border: 1px solid $text-input-field;
        border-radius: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        outline-color: $hospital-green;
      }
      button {
        padding: 18px 0px;
        border: 1px solid $hospital-green;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.0001);
        border-radius: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        cursor: pointer;
      }
      button.change-password-form-group__confirm {
        background: $hospital-green;
        color: #ffffff;
        &:hover {
          color: $hospital-green;
          background: #ffffff;
        }
      }
      a {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $hospital-green;
        text-decoration: none;
        text-align: center;
      }
    }
  }
}
