<section class="change-password">
  <div class="change-password-container">
    <div class="change-password-logo">
      <figure>
        <source
          srcset="assets/svg/logo_yard_sale.svg"
          media="(min-width: 768px)"
        />
        <source
          srcset="assets/svg/logo_yard_sale.svg"
          media="(max-width: 767px)"
        />
        <img src="assets/svg/logo_yard_sale.svg" alt="Logo change-password" />
      </figure>
    </div>
    <div class="change-password-header">
      <h1>Create a new password</h1>
      <p>Enter a new password for your account</p>
    </div>
    <form
      class="change-password-form"
      (ngSubmit)="onSubmit()"
      [formGroup]="changeForm"
    >
      <div class="change-password-form-group">
        <label
          *ngIf="
            !(
              changeForm.get('password')?.errors &&
              changeForm.get('password')?.touched
            )
          "
          for="password"
          >Password</label
        >
        <label
          *ngIf="validateMinLength('password')"
          for="password"
          class="error"
          >Password must contain at least 6 characters</label
        >
        <label *ngIf="validateRequired('password')" for="password" class="error"
          >Password is Required</label
        >
        <input
          name="password"
          type="password"
          id="password"
          formControlName="password"
          placeholder="*********"
        />
      </div>
      <div class="change-password-form-group">
        <label
          *ngIf="
            !(
              changeForm.get('repeatPassword')?.errors &&
              changeForm.get('repeatPassword')?.touched
            )
          "
          for="repeatPassword"
          >Re-enter password</label
        >
        <label
          *ngIf="validateMinLength('repeatPassword')"
          for="repeatPassword"
          class="error"
          >Repeated password must contain at least 6 characters</label
        >
        <label
          *ngIf="validateRequired('repeatPassword')"
          for="repeatPassword"
          class="error"
          >Repeat password is Required</label
        >
        <label
          *ngIf="validateRequired('repeatPassword')"
          for="repeatPassword"
          class="error"
          >Repeat password is Required</label
        >
        <label
          *ngIf="validateConfirmPasswordMatch()"
          for="repeatPassword"
          class="error"
          >Passwords do not match</label
        >
        <input
          name="repeatPassword"
          type="password"
          id="repeatPassword"
          formControlName="repeatPassword"
          placeholder="*********"
        />
      </div>
      <div class="change-password-form-group">
        <button class="change-password-form-group__confirm" type="submit">
          Confirm new password
        </button>
      </div>
    </form>
  </div>
</section>
<div class="container"></div>
